@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');


a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  color: rgb(189, 189, 189);
}

.logo{
  font-size: 24px;
  letter-spacing: 4px;
}

.menu
{

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Noto Sans Georgian";
  background-color: #000000;
  height: 12dvh;
  
}

.nav-list{
  list-style: none;
  display: flex;

}

.nav-list > li{
  letter-spacing: 3px;
  margin-left: 32px;
  
}

.menu2
{

display: none;
position: absolute;
left: 60%;
width: 40%;
padding: 1rem;
background-color: white;

}

.menu2 > ul
{

  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.menu2 > ul > li > a
{

  color: black;

}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu > div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 759px)
{


.nav-list{

  display: none;

}


.mobile-menu{
  display: block;
}

}

.nav-list:active {
  transform: translateX(0) ;
}

.logo{
  width: 200px;
}




